<div class="TabM">
  <div class="container-fluid">
   <div class="row">
     <div class="col-lg-12">
       
       <ul class="nav nav-tabs" role="tablist" id="tablist">
         <li role="presentation" class="" [ngClass]="{ 'active':activeTab==='Company_Info'}" (click)="Company_Info('Company_Info')">
           <a href="#Company_Info" aria-controls="Reported" role="tab" data-toggle="tab" aria-expanded="false" [ngClass]="{ 'active':activeTab==='Company_Info'}" (click)="Company_Info('Company_Info')">Company Info</a></li>
         <li role="presentation" class="" [ngClass]="{ 'active':activeTab==='Address_Info'}" (click)="Address_Info('Address_Info')"><a href="#Address_Info" aria-controls="Candidate" role="tab" data-toggle="tab" aria-expanded="false" [ngClass]="{ 'active':activeTab==='Address_Info'}" (click)="Address_Info('Address_Info')">Address Info</a></li>
         <li role="presentation" class="" [ngClass]="{ 'active':activeTab==='BankInfo_Payroll'}" (click)="BankInfo_Payroll('BankInfo_Payroll')"><a href="#BankInfo_Payroll" aria-controls="Schedule" role="tab" data-toggle="tab" aria-expanded="false" [ngClass]="{ 'active':activeTab==='BankInfo_Payroll'}" (click)="BankInfo_Payroll('BankInfo_Payroll')">Bank Info & Payroll</a></li>
         <li role="presentation" class="" [ngClass]="{ 'active':activeTab==='Other_Info'}" (click)="Other_Info('Other_Info')"><a href="#Other_Info" aria-controls="Process" role="tab" data-toggle="tab" aria-expanded="false" [ngClass]="{ 'active':activeTab==='Other_Info'}" (click)="Other_Info('Other_Info')">Other Info</a></li>
         <li role="presentation" class="" [ngClass]="{ 'active':activeTab==='Logo'}" (click)="Company_Info('Logo')"><a href="#Logo" aria-controls="letter" role="tab" data-toggle="tab" aria-expanded="false" [ngClass]="{ 'active':activeTab==='Logo'}" (click)="Logo('Logo')">Logo</a></li>
       </ul>
       
     </div><!--12-->
   </div>
  </div><!--cntr-->
 </div>
 
 <div class="TabC">
   <div class="container-fluid">
     
     <div class="tab-content">
         <div role="tabpanel" class="tab-pane  " id="Company_Info" [ngClass]="{ 'active':activeTab==='Company_Info'}">
           <div class="row">
             <div class="col-lg-12">
               <h1>Creation Mode</h1>
               <div class="TGL-box">
                 <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked>
                 <label for="toggle-on" class="btn">Company</label>
                 <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio">
                 <label for="toggle-off" class="btn">Branch</label>
               </div><!--box-->
             </div><!--12-->
           </div><!--row-->
<form  #form="ngForm" (submit)="onSubmit()" autocomplete="off">
<div class="row form-control" >
 
         
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label >Company Name</label>                 
               <input class="textBox-C" placeholder="" type="text" name="companyName" id="companyName" autocomplete="off" #companyName="ngModel"  [(ngModel)]="companyService.formData.companyName">
             </div><!--6-->
           
          
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Branch Name</label> 
               <input class="textBox-C" placeholder="" type="text" name="branchName" id="branchName" autocomplete="off" #branchName="ngModel" [(ngModel)]="companyService.formData.branchName">
             </div><!--6-->
            
          
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Employer Code</label> 
               <input class="textBox-C" placeholder="" type="text" name="employerCode" id="employerCode" autocomplete="off" #employerCode="ngModel" [(ngModel)]="companyService.formData.employerCode">
             </div><!--6-->
            
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Short Name</label> 
               <input class="textBox-C" placeholder="" type="text" name="shortName" id="shortName" autocomplete="of" #shortName="ngModel" [(ngModel)]="companyService.formData.shortName">
             </div><!--6-->
          <!--row-->
          </div>
           <hr style="border:1px solid #d8dedc;width:100%;margin-top:25px;margin-bottom:40px;">
           <div class="row form-control">
          
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Country</label> 
               <select name="countryId" #countryId="ngModel" [(ngModel)]="companyService.formData.countryId" class="form-control input-valid-br-0" [ngModelOptions]="{standalone:true}" required>
                 <option *ngFor="let item of countryDDL" value="{{item.countryId}}">{{item.countryName}}</option> 
               </select>
             </div><!--6-->
           
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Currency</label> 
               <select name="currencyId" #currencyId="ngModel" [(ngModel)]="companyService.formData.currencyId" class="form-control input-valid-br-0" [ngModelOptions]="{standalone:true}" required>
                 <option *ngFor="let item of currencyDDL" value="{{item.currencyId}}">{{item.currencyName}}</option>
               </select>
             </div><!--6-->
            
            
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Company Industry</label> 
               <select name="companyIndustryId" #companyIndustryId="ngModel" [(ngModel)]="companyService.formData.companyIndustryId" class="form-control input-valid-br-0" [ngModelOptions]="{standalone:true}" required>
                <option *ngFor="let item of companyIndustryDDL" value="{{item.companyIndustryId}}">{{item.companyIndustryName}}</option>
               </select>               
             </div><!--6-->
             
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Company Type</label> 
               <select name="companyTypeId" #companyTypeId="ngModel" [(ngModel)]="companyService.formData.companyTypeId" class="form-control input-valid-br-0" [ngModelOptions]="{standalone:true}" required>
                <option *ngFor="let item of companyTypeDDL" value="{{item.companyTypeId}}">{{item.companyTypeName}}</option>
               </select>                 
             </div><!--6-->
         
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Website</label> 
               <input class="textBox-C" placeholder="" type="text" name="webSite" id="webSite" autocomplete="off" #webSite="ngModel" [(ngModel)]="companyService.formData.webSite">
             </div><!--6-->
           </div><!--row-->
          
           
           <div class="row">
             <div class="col-lg-12">
               <div class="btn-box">
                 <button class="cancel-btn">Cancel</button>
                 <button class="save-btn">Save</button>
               </div>
             </div><!--12-->
           </div><!--row-->
         <!--tab-->
        </form></div>

         <div role="tabpanel" class="tab-pane  " id="Address_Info" [ngClass]="{ 'active':activeTab==='Address_Info'}">
           
          <form  #form="ngForm" (submit)="onSubmit1()" autocomplete="off">
            <div class="row form-control" >
             
           <div class="row mrgn30">
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Area</label> 
               <input class="textBox-C" placeholder="" type="text" name="area" id="area"  autocomplete="off" #area="ngModel"[(ngModel)]="companyService.formData1.area">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Block</label> 
               <input class="textBox-C" placeholder="" type="text" name="block" id="block" autocomplete="off" #block="ngModel" [(ngModel)]="companyService.formData1.block">
             </div><!--6-->z
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Street</label> 
               <input class="textBox-C" placeholder="" type="text" name="street" id="street" autocomplete="off" #street="ngModel" [(ngModel)]="companyService.formData1.street">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>City</label> 
               <input class="textBox-C" placeholder="" type="text" name="city" id="city" autocomplete="off" #city="ngModel" [(ngModel)]="companyService.formData1.city">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Province/State</label> 
               <select  name="ProvinceId" #ProvinceId="ngModel"[(ngModel)]="companyService.formData1.ProvinceId"[ngModelOptions]="{standalone:true}" required>
               <option *ngFor ="let item of provinceDDL"  value="{{item.ProvinceId}}">{{item.provinceName}}</option>
               </select>
             </div><!--6-->
           </div><!--row-->
           
           <hr style="border:1px solid #d8dedc;width:100%;margin-top:25px;margin-bottom:40px;">
           
           <div class="row mrgn30">
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Primary E-mail</label> 
               <select  name="PrimaryEmailId" #PrimaryEmailId="ngModel" [(ngModel)]="companyService.formData1.PrimaryEmailId" [ngModelOptions]="{standalone:true}" required>
                 <option *ngFor="let item of PrimaryEmailDDL" value="{{item.PrimaryEmailId}}">{{item.PrimaryEmailName}}</option>
               </select>
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Secondary E-mail</label> 
               <select name="SecondaryEmailId" #SecondaryEmailId="ngModel" [(ngModel)]="companyService.formData1.SecondaryEmailId" [ngModelOptions]="{standalone:true} " required>
               <option *ngFor="let item of SecondaryEmailDDL" value="{{item.SecondaryEmailId}}">{{item.SecondaryEmailName}}</option>
               </select>
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
              <label>Company Industry</label> 
              <select name="companyIndustryId" #companyIndustryId="ngModel" [(ngModel)]="companyService.formData1.companyIndustryId" [ngModelOptions]="{standalone:true}" required>
               <option *ngFor="let item of companyIndustryDDL" value="{{item.companyIndustryId}}">{{item.companyIndustryName}}</option>
              </select>               
            </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Other information</label> 
               <textarea class="txtarea-C" placeholder="" id=" Otherinformation" name="Otherinformation" maxlength="600"autocomplete="off"#Otherinformation="ngModel" [(ngModel)]="companyService.formData1.Otherinformation" >

               </textarea>
             </div><!--6-->

             
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Website</label> 
               <input class="textBox-C" placeholder="" type="text" name="webSite" id="webSite" autocomplete="off" #webSite="ngModel" [(ngModel)]="companyService.formData1.webSite">
             </div><!--6-->
           </div><!--row-->
           
           
           <hr style="border:1px solid #d8dedc;width:100%;margin-top:25px;margin-bottom:40px;">
           
           <div class="week-box">
             <div class="row">
             <h3>Weekly off days</h3>
               <div class="day-bax">
                 <h4>Sunday</h4>
                 <label class="pr-box">
                   <input type="checkbox" id="" value="" checked="checked">
                   <span class="checkmark"></span>
                 </label>
               </div>
               <div class="day-bax">
                 <h4>Monday</h4>
                 <label class="pr-box">
                   <input type="checkbox" id="" value="" checked="checked">
                   <span class="checkmark"></span>
                 </label>
               </div>
               <div class="day-bax">
                 <h4>Tuesday</h4>
                 <label class="pr-box">
                   <input type="checkbox" id="" value="" checked="checked">
                   <span class="checkmark"></span>
                 </label>
               </div>
               <div class="day-bax">
                 <h4>Wednessday</h4>
                 <label class="pr-box" style="margin-left:26px;">
                   <input type="checkbox" id="" value="" checked="checked">
                   <span class="checkmark"></span>
                 </label>
               </div>
               <div class="day-bax">
                 <h4>Thursday</h4>
                 <label class="pr-box">
                   <input type="checkbox" id="" value="" checked="checked">
                   <span class="checkmark"></span>
                 </label>
               </div>
               <div class="day-bax">
                 <h4>Fryday</h4>
                 <label class="pr-box">
                   <input type="checkbox" id="" value="" checked="checked">
                   <span class="checkmark"></span>
                 </label>
               </div>
               <div class="day-bax">
                 <h4>Saturday</h4>
                 <label class="pr-box">
                   <input type="checkbox" id="" value="" checked="checked">
                   <span class="checkmark"></span>
                 </label>
               </div>
             </div>
           </div><!--row-->
           
           <div class="row">
             <div class="col-lg-12">
               <div class="btn-box">
                 <button class="cancel-btn">Cancel</button>
                 <button class="save-btn">Save</button>
               </div>
             </div><!--12-->
           </div><!--row-->         
         </div>
         </form>
         
         <div role="tabpanel" class="tab-pane  " id="BankInfo_Payroll" [ngClass]="{ 'active':activeTab==='BankInfo_Payroll'}">
           
           <div class="row mrgn30">
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Financial Year Start</label> 
               <input class="textBox-C" type="date" id="birthday" name="birthday">
               
               <label>Book Start</label> 
               <input class="textBox-C" type="date" id="birthday" name="birthday">
               
               <label>Company Start</label> 
               <input class="textBox-C" type="date" id="birthday" name="birthday">
               
               <label>Daily Pay Based On</label>
             <label class="container1">Year
               <input type="radio" checked="" name="radio">
               <span class="checkmark"></span>
             </label>
             <label class="container1">Month
               <input type="radio" name="radio">
               <span class="checkmark"></span>
             </label>

             </div><!--6--> 
             
           </div><!--row-->
           <div class="row mrgn30">
             <div class="col-lg-4 col-md-4 col-sm-4 col-lg-12 pdng30">
               <label>Working Days</label> 
               <input class="textBox-C" placeholder="" type="text" name="" id="">
             </div><!--6--> 
           </div>
           
           <hr style="border:1px solid #d8dedc;width:100%;margin-top:25px;margin-bottom:40px;">
           
             <div class="bank-details">
               <h3>Bank Details</h3>
             
           
           <div class="row">
             <div class="col-lg-4 col-md-4 col-sm-4 col-lg-12">
               <label>Bank Name</label>
             </div>
             <div class="col-lg-4 col-md-4 col-sm-4 col-lg-12">
               <label>Account Number</label>
             </div>
             <div class="col-lg-12">
               <div class="bank-area">
                 <p>South Indian Bank Ernakulam</p>
                 <div class="ac-no">
                   000000000000
                 </div>
               </div><!--area-->
               <div class="bank-area">
               </div><!--area-->
             </div><!--12-->
             
            </div><!--row-->
           </div><!--bank-->

           
           <div class="row">
             <div class="col-lg-12">
               <div class="btn-box">
                 <button class="cancel-btn">Cancel</button>
                 <button class="save-btn">Save</button>
               </div>
             </div><!--12-->
           </div><!--row--> 
                 
         </div>
         <div role="tabpanel" class="tab-pane  " id="Other_Info" [ngClass]="{ 'active':activeTab==='Other_Info'}">
            <div class="row mrgn30">
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Office Head Name</label> 
               <input class="textBox-C" placeholder="" type="text" name="" id="">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Father Name</label> 
               <input class="textBox-C" placeholder="" type="text" name="" id="">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Designation</label> 
               <input class="textBox-C" placeholder="" type="text" name="" id="">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>PAN No.</label> 
               <input class="textBox-C" placeholder="" type="text" name="" id="">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>TAN No.</label> 
               <input class="textBox-C" placeholder="" type="text" name="" id="">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>CIN</label> 
               <input class="textBox-C" placeholder="" type="text" name="" id="">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>GST TIN</label> 
               <input class="textBox-C" placeholder="" type="text" name="" id="">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>ROC Code</label> 
               <input class="textBox-C" placeholder="" type="text" name="" id="">
             </div><!--6-->
             <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
               <label>Registration Number</label> 
               <input class="textBox-C" placeholder="" type="text" name="" id="">
             </div><!--6-->
           </div><!--row-->   
           <div class="row">
             <div class="col-lg-12">
               <div class="btn-box">
                 <button class="cancel-btn">Cancel</button>
                 <button class="save-btn">Save</button>
               </div>
             </div><!--12-->
           </div><!--row-->
         </div>
         <div role="tabpanel" class="tab-pane  " id="Logo" [ngClass]="{ 'active':activeTab==='Logo'}" (click)="Logo('Logo')">
           
           <div class="logo-upload">
            <div class="bord-in">
               <h5>Drop files here or click to upload</h5>
               <div class="upload-btn-wrapper">
                 <button class="btnz">Browse</button>
                 <input type="file" name="myfile" />
               </div>
             </div>
           </div>
           
           <div class="row">
             <div class="col-lg-12">
               <div class="btn-box">
                 <button class="cancel-btn">Cancel</button>
                 <button class="save-btn">Save</button>
               </div>
             </div><!--12-->
           </div><!--row-->          
         </div>
       <!--tabcnt-->
     
   </div><!--cntr-->    
 </div><!--tabc-->
 
 <div class="row">
   <div class="col-lg-12">
     <button class="back-btn"><span><i class="fas fa-angle-left"></i></span> Back</button>
   </div><!--12-->
 </div><!--row-->
